.wrapper {
    margin: 1em;
    margin-top: 0em;
    text-align: center;
  
    flex: 0 0 auto;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }

  .wrapper img {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: contain;
    background-color: #f8f8f8;
    cursor: pointer;
  }
  
  
  .ranking {
    display: inline-block;
    min-width: 1.2em;
    background-color: #b0e0e0;
    box-shadow: 1px 2px 4px dimgray;
  }
  
  .bookinfo {
    display: inline-flex;
    flex-direction: column;
    gap: 0.5em;
  }
  
  .author {
    font-size: 16px;
  }
  
  .likes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  }
  
  .likes img {
    margin-right: 0.5em;
    width: 20px;
    height: 20px;
  }