.wrapper {
  width: 1024px;
  margin: 0 auto;
}

.scrollbar {
  display: flex;
  flex-flow: row nowrap;
  gap: 16px;
  margin: 5em 3em 2em;
  overflow-y: scroll;
  white-space: nowrap;
}

.scrollbar::-webkit-scrollbar {
  height: 6px;
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 4px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: dimgray;
}
