.wrapper {
  position: absolute;
  box-sizing: border-box;
  right: 0px;
  width: 400px;
  height: calc(100vh - 100px);
  min-height: 750px;
  border-left: 2px solid #cdc4c4;
  border-top: 2px solid #cdc4c4;
  border-right: 2px solid #cdc4c4;
  background-color: #fcf4e2;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  translate: 400px;
  transition: translate 0.5s;

  z-index: 1;
}

.reviewWrapper {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.reviewWritingArea {
  margin: 5px;
  resize: none;
  height: 6em;
}

.expandButton {
  line-height: 1.5em;
  position: absolute;
  background-color: #f3e7ca;
  width: 2em;
  top: 50%;
  left: -2em;
  font-size: 0.8em;
  font-weight: 500;
  border: none;
  outline: none;
  border-radius: 10px 0 0 10px;
  cursor: pointer;
  border: 1px solid #cdc4c4;

  transition: color 0.2s;
}

.expandButton:hover {
  color: #dda0dd;
}
