.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  border-radius: 20px;
  min-width: 150px;
  transition: all 0.2s;
}

.wrapper:hover {
  background-color: #dacfb5;
}

.wrapper:active {
  background-color: #c2b8a1;
}

.wrapper span {
  font-size: 18px; /* 글자 크기를 줄입니다 */
}

.wrapper img {
  border-radius: 10px; /* 모서리를 둥글게 만듭니다 */
}
