.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 50px;
  margin-left: 150px; /* 추가: 오른쪽으로 이동 */
  width: 700px;
  height: 790px;
  background-color: #fcf4e2;
  border-radius: 20px;
  border: 3px solid #cdc4c4;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
}

.innerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 650px;
  height: 160px;
  background-color: #f3e7ca;
  border-radius: 30px;
}

.bookTypeMenu {
  box-sizing: border-box;
  margin: 10px 0;
  padding: 5px;
  width: 500px;
  background-color: #c8b997;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bookTypeMenu button {
  border: none;
  background-color: transparent;
  font-size: 21px;
  font-weight: 600;
  padding: 5px 20px;
  border-radius: 16px;
  transition: background-color 0.5s;
}

.prevNextBtn button {
  position: relative;
  border: 0;
  font-size: 18px;
  color: #d9d9d9;
}

/* MyBookInfoContainer 위치를 오른쪽으로 이동시키는 스타일 추가 */
.MyBookInfoContainer {
  margin-left: 20px; /* 오른쪽으로 이동 */
}
