.wrapper {
  display: flex;
  flex-flow: row nowrap;
  width: 1408px;
  position: relative;
  top: -35px;
}

.left {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 700px;
  height: 600px;

  background-color: #fcf4e2;
  border-radius: 80px 0 0 80px;
  border: 2px solid #cdc4c4;
  box-shadow: 5px 5px 5px 5px gainsboro;
}

.right {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 700px;
  height: 600px;

  background-color: #fcf4e2;
  border-radius: 0 80px 80px 0;
  border: 2px solid #cdc4c4;
  box-shadow: 5px 5px 5px 5px gainsboro;
  text-align: center;
}
.upperForm {
  width: 650px;
  height: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.prompt {
  display: inline-block;
}
.prompt input {
  width: 440px;
  height: 210px;
  padding: 5px;
  background-color: #f3e7ca;
  border: 0px;
  border-radius: 40px 40px 0 40px;
  font-size: 20px;
}
.prompt input::placeholder {
  font-size: 18px;
  text-align: center;
}
.option {
  height: 220px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bookTitle {
  margin-bottom: 75px;
  width: 500px;
  height: 200px;
  font-size: 20px;
  text-align: center;
  background-color: #f3e7ca;
  border: 0px;
}

.bookTitle::placeholder {
  text-align: center;
}

.right textarea {
  width: 686px;
  height: 290px;
  padding: 5px;
  align-self: flex-end;

  font-family: 'MarkoOne-Regular', 'NotoSans';
  font-size: 18px;

  background-color: #f3e7ca;
  border: 0px;
  border-radius: 0px 0px 80px 0px;
  resize: none;
}

.right textarea::placeholder {
  font-size: 18px;
  font-weight: 500;
}

.wrapper button {
  display: inline-block;
  background-color: #f3e7ca;
  transition: background-color 0.3s;
  margin-top: 13px;
  margin-left: 13px;

  width: 110px;
  height: 50px;
  border: 0px;
  border-radius: 25px;
  box-shadow: 2px 2px 5px gainsboro;
}

.wrapper button:hover {
  background-color: #cdc4c4;
}

.buttonArea {
  position: absolute;
  bottom: -70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1400px;
  height: 60px;
}

.option button {
  width: 150px; /* 버튼 너비 조정 */
  margin-top: 9px; /* 위쪽 여백 */
  font-size: 20px; /* 폰트 크기 */
}

.tempSaveBtn,
.rightBtn {
  font-size: 20px;
}

.option input[type='text'] {
  font-size: 15px; /* 폰트 크기를 20px로 설정 */
}
