.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  position: relative;
  bottom: 30px;

  border: 1px solid #cdc4c4;
  background-color: #fcf4e2;
  border-radius: 80px;
}
.left {
  border-right: 2px solid #cdc4c4;
  width: 600px;
  height: 600px;
  padding: 50px;
}
.imgArea {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3e7ca;
  width: 600px;
  height: 600px;
}

.right {
  border-left: 2px solid #cdc4c4;
  width: 600px;
  height: 600px;
  padding: 50px;
}
.right > div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3e7ca;
  width: 600px;
  height: 600px;
}

.pageNumber {
  position: absolute;
  bottom: 20px;
  left: 60px;
  font-size: 16px;
  font-weight: 700;
}

.wrapper button {
  background-color: #f3e7ca;
  transition: background-color 0.3s;
  margin: 10px;
  font-size: 20px;
  width: 150px;
  height: 50px;
  border: 1px;
  border-radius: 25px;
  box-shadow: 2px 2px 5px gainsboro;
}

.wrapper button:hover {
  background-color: #cdc4c4;
}

.leftButton {
  position: absolute;
  bottom: -70px;
  left: 0px;
}

.rightButton {
  position: absolute;
  bottom: -70px;
  right: 0px;
}

.right {
  border-left: 2px solid #cdc4c4;
  width: 600px;
  height: 600px;
  padding: 50px;
}

.textContent {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3e7ca;
  overflow: auto; /* 텍스트가 컨테이너를 벗어날 경우 스크롤 가능하도록 설정 */
  text-align: center; /* 텍스트를 수직 가운데 정렬합니다. */
  flex-direction: column;
}

.textContent > div {
  margin-top: 50px;
  margin-bottom: 1500px; /* 컨텐트와의 간격을 조정할 수 있습니다. */
}

/* 텍스트가 우측 상단부터 시작하도록 설정 */
.textContent {
  flex-direction: column-reverse;
}

